# Godot 4 — cache e arquivos gerados automaticamente pelo editor
.godot/

# Arquivos de exportação
*.translation
export_presets.cfg
export.cfg

# Builds exportadas
build/
dist/

# Arquivos de sistema
.DS_Store
Thumbs.db
Scenes/node_2d.tscn
